body {
    background-color: bisque;
    margin: -8px;
}
.container {
    margin: 0 auto;
    width: 900px;
    height: 800px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    padding-top: 100px;
}
.buttons, .content {
    display: inline-block;
}
.btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}
.blue {
    background-color: #55acee;
    box-shadow: 0 5px 0 0 #3C93D5;
}
.red {
    background-color: #e74c3c;
    box-shadow: 0 5px 0 0 #CE3323;
}
.blue.active {
    pointer-events: none;
    transform: translate(0px, 5px);
    box-shadow: none;
    background-color: #3C93D5;
}
.red.active {
    pointer-events: none;
    transform: translate(0px, 5px);
    box-shadow: none;
    background-color: #CE3323;
}

.text {
    visibility: hidden;
}
.visible {
    visibility: visible;
}